.search-container .seach-box {
  display: flex;
  max-width: 65vw;
  width: 500px;
}

.search-container .c-form-control {
  border-radius: 0;
  border-top-left-radius: 20px;
  background-color: var(--light);
  border-bottom-left-radius: 20px;
  border: 1px solid var(--light);
}

.search-container .c-form-control::placeholder {
  font-size: 14px;
}

.search-container .c-btn {
  border-radius: 0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid var(--light);
  background-color: var(--light);
  padding: .375rem .75rem !important;
}

.search-container .c-btn path {
  fill: var(--dark);
}

.search-result-box {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.search-result-item {
  margin-right: 16px;
  margin-bottom: 16px;
  flex: 0 1 calc(20% - 16px);
  position: relative;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.search-result-item h5 {
  padding: 8px;
}

.search-result-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  position: absolute;
  right: -12px;
  bottom: -12px;
  transform: rotate(-30deg);
  transition: all .3s ease-in-out;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.search-result-item:hover {
  opacity: .8;
}

.search-result-item:hover img {
  width: 160px;
  height: 160px;
  opacity: .8;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}
